<h1 appHighlight (triggered)="h1Highlighted()">Hello Directives</h1>
<h2 class="bla">We will learn the following:</h2>
<ul>
  <li>What is a directive</li>
  <li appHideable hl appHighlight="255,0,0">Simple Element Directives</li>
  <li [appHideable]="4000" class="bla">DOM Manipulation</li>
  <li [appHideable]="10000" class="hl">Renderer2</li>
  <li>HostBinding and HostListener</li>
  <li [appHighlight]="myFavoriteColor">Input and Outputs</li>
  <li hl>Selectors</li>
</ul>

<input type="text" appNospace>
<input type="text">
<input type="number">
<input type="color">
<input type="search" disabled>