<section class="title-area">
    <app-title-presenter 
        caption="Welcome to Notepad!!!"
        [color]="selectedColor"
        ></app-title-presenter>
</section>

<section class="colors-area">
    <app-string-selector
        [options]="colors"
        [selectedOption]="selectedColor"
        (changed)="selectColor($event)"
    ></app-string-selector>
</section>
<section class="sizes-area">
    <app-string-selector
        [options]="sizes"
        [selectedOption]="selectedSize"
        (changed)="selectSize($event)"
    ></app-string-selector>
</section>
<section class="fonts-area">
    <app-string-selector
        [options]="fonts"
        [selectedOption]="selectedFont"
        (changed)="selectFont($event)"
    ></app-string-selector>
</section>
<section class="text-area">
    <textarea
        [style.color]="selectedColor"
        [style.font-size]="selectedSize"
        [style.font-family]="selectedFont"
    ></textarea>
</section>