:host {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.title-area {
    grid-column: 1/-1;
}

.text-area {
    grid-column: 1/-1;
    display: grid;
    padding: 4px;
}

section {
    margin: 4px;
    border: 1px solid lightgray;
    border-radius: 8px;
}